.banner {
    position:relative;
}

.banner img {
    width: 100%;
    filter: blur(3px);
}

.amoungus {
    position: absolute;
    z-index: 1;
}

.cyan img {
    width: 56px;
    filter: blur(7px);
}

#map {
    z-index: 2;
}

.purple {
    transform: translate(-400px, 0) rotate(-50deg);
    z-index: 1;
}

.brown {
    transform: translate(400px, 0) rotate(50deg);
    z-index: 1;
}

.bannerText {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bannerText h1 {
    font-size: 75px;
}

.bannerText p {
    font-size: 50px;
}

.separator {
    height: 100px;
    background-color: #1a202c;
}

.center {
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#map {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 600px;
    width: 800px;
    border: 2px solid #1a202c;
    border-radius: 5px;
}

.separator h1 {
    color: white;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1a202c;
    color: white;
}

.infos {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
}

.infos p {
    font-size: 35px;
}

.statsGouv {
    height: 800px;
}
