.navbar {
    height: 75px;
    background-color: #1a202c;
    z-index: 2;
}

.amoungus {
    position: absolute;
    z-index: 1;
}

.blue {
    transform: rotateX(-180deg) translateY(40px);
}

.white {
    transform: translateY(-50px);
}

.amoungus img {
    width: 56px;
}
