.container h1 {
    padding: 25px 0;
}

.spotCams {
    height: 450px;
    width: 600px;
}

.spotCams iframe {
    height: 100%;
    width: 100%;
}

.center {
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.spotInformation {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1a202c;
    color: white;
}

.spotInformation h2 {
    padding-top: 20px;
}
